* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 1.2vw;
    overflow: hidden;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    background: linear-gradient(indianred, yellow);
}

#startButton {
    background-color: salmon;
    width: 40vh;
    height: 10vh;
    font-size: 300%;
    font-family: Verdana, serif;
    border-radius: 1rem;
    border: black solid 0.05rem;
    margin: 0.5rem;
    transition: background-color 0.4s ease;
}

#startButton:hover {
    background-color: lightgoldenrodyellow;
}

#anchor {
    position: absolute;
    margin-top: 30%;
}
