* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 1.2vw;
    overflow: hidden;
}

main {
    background: linear-gradient(indianred, yellow);
    height: 99.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: column;
}

.menuButtons {
    background: pink;
    width: 40vh;
    height: 5vh;
    font-size: 150%;
    font-family: Georgia, serif;
    border-radius: 1rem;
    border: black solid 0.05rem;
    margin: 0.5rem;
    transition: background-color 0.5s ease;
}

.menuButtons:hover {
    background-color: coral;
}