* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 1.2vw;
    overflow: hidden;
}

main {
    background-color: cornflowerblue;
    height: 99.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: column;
}

.menuButtons {
    width: 30vh;
    height: 8vh;
    font-size: 200%;
    font-family: Georgia, serif;
    border-radius: 0.3rem;
    border: black solid 0.05rem;
    margin: 0.5rem;
    transition: background-color 0.5s ease;
}

.menuButtons:hover {
    background-color: coral;
}